{
  "env": { "browser": true, "es2020": true, "jest": true },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-base",
    "airbnb-typescript",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": ["./tsconfig.json", "./tsconfig.node.json"],
  },
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": "off",
    "@typescript-eslint/no-explicit-any": "warn",
    "eslint/no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "eqeqeq": "off",
    "no-nested-ternary": "error",
    "prefer-destructuring": "off",
    "consistent-return": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "off",
    "no-restricted-syntax": "off",
    "no-void": "off",
    "no-bitwise": ["error", { "allow": ["~"] }],
    "@typescript-eslint/consistent-type-imports": "error",
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "return" },
    ],
  },
}
